.venv/
__pycache__/
*.pyc
.env
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Inputs sensibles / pesados
data/**/input/**
data/**/kml/**

# Outputs generados
cache/**
runs/**
data/**/output/**
data/**/preview/**

# Keep folder structure
!cache/.gitkeep
!runs/.gitkeep
!data/**/.gitkeep
!data/**/input/.gitkeep
!data/**/kml/.gitkeep
!data/**/output/.gitkeep
!data/**/preview/.gitkeep